*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100vh;
}
.item,
.item1,
.item2{
    border: 1px solid black;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: rgb(248, 244, 239);
    transition: all 0.4s ease-in-out;
}
.item{
    animation-name: line;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.item1{
    animation-name: line;
    animation-delay: 1.5s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.item2{
    animation-name: line;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes line {
    from{
        cursor: pointer;
        height: 17vmax;
        background-color: aquamarine;
        transform: translateY(-20px);
        box-shadow: 5px  6px teal;
        transition: all 1s;
    }
}
@media screen and (max-width:900px){
    .item,.item1,.item2{
        height: 17vmax;
        width: 12vmax;
    }
}